@model StudentCreateViewModel

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Student List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Student</li>
                </ol>
            </nav><br /><br />
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="form-group col-md-10">
                        <input asp-for="Id" class="form-control" placeholder="Student01" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="form-group col-md-10">
                        <input asp-for="Name" class="form-control" placeholder="Enter Student Name.." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Birthday"></label>
                    </div>
                    <div class="form-group col-md-10">
                        <input asp-for="Birthday" class="form-control"/>
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="ClassRoom.NameClassRoom"></label>
                    </div>
                    <div class="form-group col-md-10">
                        <select asp-for="ClassRoomId" class="form-control" asp-items="ViewBag.classRooms">
                            <option selected>--- Select ClassRoom ---</option>
                        </select>
                        <span asp-validation-for="ClassRoomId" class="text-danger"></span>
                    </div>
                </div>
                <br /><br />

                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}